
<ion-header [translucent]="true">
  <ion-toolbar>
  
  <div class="bg-color">
    <p>App App</p>
  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <img src="https://www.j9phone.com/images/content/original-1589271327371.png" alt="">
        </ion-col>
        <ion-col>
          <p>Iphone 11 <br>
          ราคา 16500บาท
        </ion-col>
        <ion-col>
          <ion-button size="large" color="danger" shape="" >
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
</ion-content>
